.navigation {
  display: flex;
  width: 100%;
  background-color: #eaf7eb; /* Green background color */
}

.navButtons {
  text-align: center;
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #49a078; /* Dark green button color */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  text-decoration: none;
}

.navButtons:hover {
  background-color: #6bc38e; /* Light green button color on hover */
}

.resumeComponentDiv {
  text-align: left;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.jobUl {
  padding: 0%;
}

.jobDescriptionLis {
  padding-bottom: 5px;
}

.each-slide-effect>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
  width: 300px;
  margin: auto;
}


.each-slide-effect {
  justify-content: center;
  text-align: center;
}

.sliderDiv {
  width: 400px;
  margin: auto;
}

body {
  /* padding-bottom: 10px; */
  /* background-image: url("./images/leaves.png"); */
}