.headerComponentDiv {
  font-family: 'Courier New', Courier, monospace;
}

.resumeComponentDiv {
  text-align: left;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.homeComponentDiv {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.aboutMeBio {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
}

.aboutMeImages {
  background-color: lightgreen;
  border: 2px;
  border-style: groove;
  border-color: lightgreen;
}

.intraconnectDiv {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.interconnectDiv {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.testimonials {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
}

.jobUl {
  padding: 0%;
}

.jobDescriptionLis {
  padding-bottom: 5px;
}

footer {
  color: black;
  font-size: 16px;
  font-style: bold;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lightgreen;
}

.each-slide-effect>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
  width: 300px;
  margin: auto;
}


.each-slide-effect {
  justify-content: center;
  text-align: center;
}

.sliderDiv {
  width: 400px;
  margin: auto;
}

body {
  padding-bottom: 50px;
  background-image: url("./images/leaves.png");
}

.offeringDivs {
  text-align: left;
  border: 2px;
  border-style: groove;
  border-color: lightgreen;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255);
}

.offeringsUl {
  width: 300px;
  margin: auto;
  padding: 0;
  line-height: 22px;
  font-size: larger;
}

.offeringDescriptionsLis {
  margin: auto;
}